<mat-card>
  <mat-card-header>
    <mat-card-title>Education</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p><strong>Informatics and Telecommunications - National and Kapodistrian University of Athens</strong><br>2019 - 2024</p>
    <p><strong>1st Highschool of Ymittos</strong><br>2016 - 2019</p>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>Certifications</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li>Microsoft Certified: Azure Fundamentals - Microsoft (January 2023)</li>
    </ul>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Languages</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li>Greek - Native</li>
      <li>English - Fluent</li>
    </ul>
  </mat-card-content>
</mat-card>