<mat-card class="about-me-card">
  <mat-card-header>
    <mat-card-title>About Me</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="about-me-container">
      <img src="../../assets/profile.jpeg" class="profile-picture">
      <div class="about-me-text">
        <p>
          I am Apostolis, a 23-year-old software developer and team leader with a deep passion for programming, software design, and business applications. My enthusiasm for creating efficient and scalable solutions drives me to constantly learn and stay updated with industry trends. With hands-on experience in diverse projects across various business domains, including warehouse management systems for car parts and airlines, I excel at translating complex requirements into functional and impactful software solutions. My expertise extends to using EF Core and Angular, and I thrive in collaborative environments where I can mentor and guide others while driving innovation.
        </p>
      </div>
    </div>
    <div class="accomplishments">
      <h3>Key Accomplishments</h3>
      <ul>
        <li>Developed a warehouse management system for automotive parts accessed by more that 500 car dealers in Greece and Bulgaria.</li>
        <li>Led a team of developers in creating a scalable application for an airline, used by more than 50.000 employees.</li>
        <li>Implemented EF Core in multiple older projects, leading to optimized database interactions and performance.</li>
      </ul>
    </div>
    <div class="interests">
      <h3>Interests</h3>
      <ul>
        <li>Exploring new technologies and methodologies in software development.</li>
        <li>Mentoring and supporting the growth of fellow developers.</li>
        <li>Participating in tech communities and contributing to open-source projects.</li>
      </ul>
    </div>
  </mat-card-content>
</mat-card>
