<mat-card class="contact-info-card">
  <mat-card-header>
    <mat-card-title>Contact Info</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="contact-item">
      <mat-icon>phone</mat-icon>
      <span class="contact-text">+30 6987315904</span>
    </div>
    <div class="contact-item">
      <mat-icon>email</mat-icon>
      <span class="contact-text">tolisatolis7&#64;gmail.com</span>
    </div>
    <div class="contact-item">
      <mat-icon>location_on</mat-icon>
      <span class="contact-text">Megalou Alexandrou 10, Ilioupoli, Athens, Greece</span>
    </div>
 <div class="contact-item">
      <mat-icon>linkedin</mat-icon>
      <a href="https://www.linkedin.com/in/apostolis-agrafas-36561a196/" class="contact-link" target="_blank" rel="noopener noreferrer">LinkedIn</a>
    </div>
  </mat-card-content>
</mat-card>
