.contact-info-card {
  margin: 20px auto;
  max-width: 600px; /* Adjust as needed for responsiveness */
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-info-card mat-card-header {
  background-color: #ffffff; /* Neutral background color */
  color: #333; /* Text color */
  text-align: center;
  padding: 15px;
}

.contact-info-card mat-card-title {
  font-size: 1.5rem;
  margin: 0;
}

.contact-info-card .contact-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}

.contact-info-card .contact-item:last-child {
  border-bottom: none;
}

.contact-info-card mat-icon {
  font-size: 24px; /* Adjust size if needed */
  color: #333; /* Neutral color */
  margin-right: 15px;
}

.contact-info-card .contact-text {
  font-size: 1rem;
  color: #333;
}

.contact-info-card .contact-link {
  font-size: 1rem;
  color: #007bff; /* Link color */
  text-decoration: none;
}

.contact-info-card .contact-link:hover {
  text-decoration: underline;
}
