/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ecf0f1;
}

mat-toolbar {
  background-color: #3498db; /* Bright Blue */
}

mat-card {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

mat-card-title {
  color: #3498db;
}

a.mat-button {
  color: #fff;
}

.profile img {
  border: 4px solid #3498db;
}
/* Global Styles */
body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
}

mat-toolbar {
  z-index: 2; /* Ensure toolbar is above the content */
}
